@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #f6f6ef;
    color: #111;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.container {
    max-width: 750px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Título principal */
h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    
}

/* Subtítulos */
h2 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* Texto */
p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 18px;
}

/* Meta info */
.meta {
    font-size: 13px;
    color: #666;
    margin-bottom: 30px;
}

/* Linha separadora */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0 20px 0;
}

/* Rodapé do artigo */
.footer-text {
    font-size: 13px;
    color: #777;
}

/* Pequeno detalhe laranja estilo comunidade tech */
h1::before {
    content: "▸ ";
    color: #ff6600;
}

#topBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background: #080808;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

/* Classe que ativa */
#topBtn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-link {
    color: #111 !important;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ff6600 !important;
}